<html>
    <head>
        <title>Main</title>
        <link  rel="stylesheet" type="text/css" href="css/input.css">
        <link  rel="stylesheet" type="text/css" href="css/button.css">

    </head>
    <body>
        <center>
        <br>
        <br>
        <h4>Plase enter your email: </h4>
        
        <label for="exampleInputEmail1">Email address: </label>
        <input type="email" name="Email" required class="form-control" id="EmailId" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">.</small>
        <br>
        <br>
        <button class="btn btn-green" id="enter" onclick="sendEmail()" >Send</button>
        </center>
        <script src="js/request.js"></script>
        <script>
            function sendEmail(){
                if(document.getElementById("EmailId").value==""){
                    alert("Form can't be empty")
                    return
                }else{
                    console.log(typeof (window.location.origin))
                    var data = JSON.stringify({data:{mail:document.getElementById("EmailId").value, password:""},token:"restPass"})
                    var response = postData(data,"https://goosca.herokuapp.com/forgot","/")
                }                
            }
        </script>
    </body>  
</html>
