.container {
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  z-index: -1;
}

.container > div {
  padding: 20px 0;
  font-size: 30px;
}

.locationmap {
  grid-row: 1 / span 100;
}